{% extends "layouts/default.html" %}

{% block content %}
    <h3>Send us a Message</h3>
    <form name="sentMessage" id="contactForm" novalidate="">
        <div class="control-group form-group">
            <div class="controls">
                <label>Full Name:</label>
                <input type="text" class="form-control" id="name" required="" data-validation-required-message="Please enter your name.">
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group form-group">
            <div class="controls">
                <label>Phone Number:</label>
                <input type="tel" class="form-control" id="phone" required="" data-validation-required-message="Please enter your phone number.">
            <div class="help-block"></div></div>
        </div>
        <div class="control-group form-group">
            <div class="controls">
                <label>Email Address:</label>
                <input type="email" class="form-control" id="email" required="" data-validation-required-message="Please enter your email address.">
            <div class="help-block"></div></div>
        </div>
        <div class="control-group form-group">
            <div class="controls">
                <label>Message:</label>
                <textarea rows="10" cols="100" class="form-control" id="message" required="" data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
            <div class="help-block"></div></div>
        </div>
        <div id="success"></div>
        <!-- For success/fail messages -->
        <button type="submit" class="btn btn-primary">Send Message</button>
    </form>
{% endblock %}

{% block aside %}
    <div class="list-group">
        <a href="index.html" class="list-group-item active">Home</a>
        <a href="services.html" class="list-group-item">Service</a>
        <a href="contact.html" class="list-group-item">Contact</a>
    </div>
    <h3>Contact Details</h3>
    <p><abbr title="Phone">Phone</abbr>:<a href="">(123) 456-7890</a></p>
    <p><abbr title="Email">Email</abbr>:<a href="mailto:name@example.com">name@example.com</a></p>
{% endblock %}