{% set title = "Service title" %}
{% set pageName = "Service" %}
{% set pageSlug  = "service" %}
{% set breadcrumbs = [
    {
        'name': 'Home',
        'url': 'index.html'
    },
    {
        'name': 'Service',
        'url': 'service.html'
    }
] %}


{% extends "layouts/default.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, et temporibus, facere perferendis veniam beatae non debitis, numquam blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores iure maxime ducimus fugit.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, provident! Sed laboriosam deleniti eius. Consequatur corporis enim quisquam, maxime unde impedit dolorem voluptatem nulla saepe sint vero et omnis. Voluptatum necessitatibus autem cum officiis quam porro error molestias cumque laudantium.</p>
        </div>

        <div class="col-lg-12">
            <h2 class="page-header">Service List</h2>
        </div>

        {{ macro.ItemList([
            {
                'title': 'Service #1',
                'text': 'Service #1 text',
                'url': 'Service_#1_url'
            },
            {
                'title': 'Service #2',
                'text': 'Service #2 text',
                'url': 'Service_#2_url'
            },
            {
                'title': 'Service #3',
                'text': 'Service #3 text',
                'url': 'Service_#3_url'
            }
        ]) }}

    </div>
{% endblock %}